<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Math</key>
	<array>
		<string>3D Shapes</string>
		<string>Circles</string>
		<string>Functions</string>
		<string>Imaginary Numbers</string>
		<string>Linear Equations</string>
		<string>Linear Inequalities</string>
		<string>Lines, Angles, Triangles</string>
		<string>Polynomials and Rational Expressions</string>
		<string>Quadratic Equations</string>
		<string>Rates, Ratios, and Proportions</string>
		<string>Scatterplots</string>
		<string>Statistics and Probability</string>
		<string>Systems of Linear Equations</string>
		<string>Trigonometry</string>
	</array>
	<key>Writing</key>
	<array>
		<string>Conventions of Punctuation</string>
		<string>Conventions of Usage</string>
		<string>Development</string>
		<string>Effective Language Use</string>
		<string>Organization</string>
		<string>Sentence Structure</string>
	</array>
	<key>Reading</key>
	<array>
		<string>Analyzing Arguments</string>
		<string>Analyzing Multiple Texts</string>
		<string>Analyzing Point of View</string>
		<string>Analyzing Purpose</string>
		<string>Analyzing Text Structure</string>
		<string>Analyzing Word Choice</string>
		<string>Central Ideas and Themes</string>
		<string>Citing Textual Evidence</string>
		<string>Interpreting Words and Phrases</string>
		<string>Quantitative Information</string>
		<string>Reading Closely</string>
		<string>Summarizing</string>
		<string>Understanding Relationships</string>
	</array>
</dict>
</plist>
